@import "../../styles/index.scss";

.WeatherCard {
	margin: 10px;
}

.weather-card {

	max-width: 320px;

	&-updating {
		.weather-card-info {
			opacity: 0.1;
		}
	}

	&-info {
		color: #323232;
		padding: 16px !important;

		&-item {
			display: inline-block;
			margin: 0;
			padding-right: 5px;

			&.temp {
				font-size: 5em;
				margin-top: -20px;
			}

			&.degree {
				vertical-align: top;
			}

			&.icon {
				float: right;
				height: 75px;
				width: 75px;
				background: $md-teal-500;
				padding: 5px;
				margin-top: -5px;
				border-radius: 50%;

				.WeatherIcon {
					font-size: 4em;
					width: 100%;
					height: 100%;

					&.day {
						color: aliceblue;
					}
					
					&::before {
						line-height: 65px;
						display: flow-root;
						align-items: center;
					}
				}
			}
		}
	}

}